---
import BlogPostCard from '../components/BlogPostCard';
import Pills from '../components/Pills';
import Layout from '../layouts/Layout.astro';
import type { Frontmatter } from '../types';

type Props = {
  frontmatters: Frontmatter[];
};

const toSetReducer = (
  acc: Set<string>,
  frontmatter: Frontmatter
) => {
  frontmatter.tags.forEach((tag: string) => acc.add(tag));
  return acc;
};

const posts = await Astro.glob<Frontmatter>('../pages/blog/*.mdx');
const frontmatters = posts.map((post) => {
  return {
    ...post.frontmatter,
    estReadTimeMinutes: post.frontmatter.estReadTimeMinutes
  };
});
const tags = Array.from(frontmatters.reduce(toSetReducer, new Set()));
tags.sort((a, b) => (a >= b ? 1 : -1));
---

<Layout title='Blog'>
  <h1 class='pb-6 text-3xl font-bold'>Blog</h1>
  <div class='flex flex-col space-y-4'>
    <h2 class='text-2xl font-bold'>Browse by tags</h2>
    <Pills pills={tags} />
    <h2 class='text-2xl font-bold'>All Posts</h2>
    {frontmatters.map((frontmatter) => <BlogPostCard {...frontmatter} />)}
  </div>
</Layout>
