---
import BlogPostCard from '../components/BlogPostCard';
import Pills from '../components/Pills';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import removeMd from 'remove-markdown';
import readingTime from 'reading-time';

// type Props = {
//   frontmatters: Frontmatter[];
// };

const toSetReducer = (acc: Set<string>, str: string) => {
  acc.add(str);
  return acc;
};

// const posts = await Astro.glob<Frontmatter>('../pages/blog/*.mdx');
// const frontmatters = posts.map((post) => {
//   return {
//     ...post.frontmatter,
//     estReadTimeMinutes: post.frontmatter.estReadTimeMinutes
//   };
// });
// const tags = Array.from(frontmatters.reduce(toSetReducer, new Set()));
// tags.sort((a, b) => (a >= b ? 1 : -1));
const posts = await getCollection('blog');
const tags = Array.from(
  posts
    .map((post) => post.data.tags)
    .flat()
    .reduce(toSetReducer, new Set())
).sort((a, b) => (a > b ? 1 : -1));
const blogPostCardsProps = posts.map((post) => {
  const {
    author,
    authorProfileImage,
    posted,
    title,
    preview,
    thumbnailImage,
    tags,
  } = post.data;
  return {
    author,
    authorProfileImage,
    posted,
    title,
    preview,
    thumbnailImage,
    tags,
    slug: post.slug,
    estReadTimeMinutes: readingTime(removeMd(post.body)).text,
  };
});
---

<Layout title='Blog'>
  <h1 class='pb-6 text-3xl font-bold'>Blog</h1>
  <div class='flex flex-col space-y-4'>
    <h2 class='text-2xl font-bold'>Browse by tags</h2>
    <Pills pills={tags} />
    <h2 class='text-2xl font-bold'>All Posts</h2>
    {blogPostCardsProps.map((props) => <BlogPostCard {...props} />)}
  </div>
</Layout>
