---
import Footer from '../components/Footer';
import NavBar from '../components/NavBar';
import type { Path } from '../types';

interface Props {
  title: string;
}

const { title } = Astro.props;
const activePath = Astro.url.pathname as Path;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <link
      rel='icon'
      href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>💡</text></svg>"
    />
    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer components {
        /* Style heading anchors in MDX components */
        *:is(h1, h2, h3, h4, h5, h6) {
          @apply flex items-center gap-2;
        }

        /* Style articles to take the whole available width */
        article {
          @apply min-w-full;
        }

        /* Style code blocks for light and dark mode */
        pre[data-theme='light'] {
          @apply dark:hidden block bg-white shadow;
        }
        pre[data-theme='dark'] {
          @apply dark:block hidden shadow-lg;
        }
      }
    </style></head
  >

  <body
    class='min-h-screen w-full bg-gray-100 dark:bg-gray-800 dark:text-white'
  >
    <div class='min-h-screen w-full bg-gray-100 dark:bg-gray-800'>
      <div class='flex w-full items-center justify-center'>
        <div
          class='flex w-8/12 min-w-min flex-col justify-center px-8 md:w-8/12 lg:w-6/12'
        >
          <NavBar client:load activePath={activePath} />
          <main>
            <slot />
          </main>
          <hr class='my-8 h-px border-0 bg-gray-400 dark:bg-gray-500' />
          <Footer />
        </div>
      </div>
    </div>
  </body>
  <script>
    const theme = (() => {
      if (typeof localStorage !== 'undefined') {
        const theme = localStorage.getItem('theme') ?? 'light';
        return theme;
      }
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        return 'dark';
      }
      return 'light';
    })();

    if (theme === 'light') {
      document.documentElement.classList.remove('dark');
    } else {
      document.documentElement.classList.add('dark');
    }
    window.localStorage.setItem('theme', theme);
  </script>
</html>
